#root {
  margin: 0 auto;
}
.content {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #6b0000;
  border-radius: 15px;
  min-width: 470px;
  margin-top: 20px;
}
.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.buttonList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
button {
  box-shadow: inset 0px 34px 0px -15px #ff644c;
  background-color: #d11c00;
  border: 1px solid #241d13;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.5rem;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #7a2a1d;
}
button:hover {
  background-color: #ff2205;
}
button:active {
  position: relative;
  top: 1px;
}
