#root {
  margin: 0 auto;
}
.content {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #6b0000;
  border-radius: 15px;
  min-width: 470px;
  margin-top: 20px;
}
.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
